---
const {id, tecnologias, funcionalidades, observaciones, descripcion } = Astro.props;
---



<section>
    <div class="mb-4 mt-2  border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap place-content-around -mb-px text-sm font-medium text-center" id={`default-styled-tab-${id}`} data-tabs-toggle={`#default-styled-tab-content-${id}`} data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500" data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" role="tablist">
            <li role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id={`contacts-styled-tab-${id}`} data-tabs-target={`#styled-contacts-${id}`} type="button" role="tab" aria-controls={`contacts-${id}`} aria-selected="false">Descripción</button>
            </li>
            <li class="me-2" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg" id={`profile-styled-tab-${id}`} data-tabs-target={`#styled-profile-${id}`} type="button" role="tab" aria-controls={`profile-${id}`} aria-selected="false">Tecnologías utilizadas</button>
            </li>
            <li class="me-2" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id={`dashboard-styled-tab-${id}`} data-tabs-target={`#styled-dashboard-${id}`} type="button" role="tab" aria-controls={`dashboard-${id}`} aria-selected="false">Funcionalidades</button>
            </li>
            <li class="me-2" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id={`settings-styled-tab-${id}`} data-tabs-target={`#styled-settings-${id}`} type="button" role="tab" aria-controls={`settings-${id}`} aria-selected="false">Observaciones</button>
            </li>
            
        </ul>
    </div>
    <div id={`default-styled-tab-content-${id}`}>
        <div class="flex flex-row place-content-around hidden p-4 rounded-lg bg-transparent dark:bg-gray-800" id={`styled-profile-${id}`} role="tabpanel" aria-labelledby={`profile-styled-tab-${id}`}>
            <p class="text-sm text-gray-500 dark:text-gray-400">
                {tecnologias && tecnologias.length > 0 ? (
                    tecnologias.map((Tecnologia, index) => (
                        <Tecnologia key={index} />
                    ))
                ) : (
                    'No especificado'
                )}
            </p>
        </div>
        <div class="hidden p-4 rounded-lg bg-transparent dark:bg-gray-800" id={`styled-dashboard-${id}`} role="tabpanel" aria-labelledby={`dashboard-styled-tab-${id}`}>
            <p class="text-sm text-gray-500 dark:text-gray-400">{funcionalidades}</p>
        </div>
        <div class="hidden p-4 rounded-lg bg-transparent dark:bg-gray-800" id={`styled-settings-${id}`} role="tabpanel" aria-labelledby={`settings-styled-tab-${id}`}>
            <p class="text-sm text-gray-500 dark:text-gray-400">{observaciones}</p>
        </div>
        <div class="hidden p-4 rounded-lg bg-transparent dark:bg-gray-800" id={`styled-contacts-${id}`} role="tabpanel" aria-labelledby={`contacts-styled-tab-${id}`}>
            <p class="text-sm text-gray-500 dark:text-gray-400">{descripcion}</p>
        </div>
    </div>
</section>